---
BasedOnStyle: Google
IndentWidth: 4
---
Language: JavaScript
ColumnLimit: 120
UseTab: Never
BreakBeforeBraces: Custom
BraceWrapping:
  BeforeCatch: true
  BeforeElse: true
JavaScriptQuotes: Leave
AllowShortFunctionsOnASingleLine: Inline
